*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: blueviolet;
}

.a1{
    width:50%;
    padding: 10px;
    background-color:white ;
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 20px;
   }
   .a1 h1{
    font-size:40px;
    text-align: center;
    font-style: italic;
    color: darkred;
   }
   .a1 h2{
    padding:10px;
    font-size: 25px;
    font-weight:300; 
   }
   .btn{
    width: 50%;
    margin:10px;
    margin-left: 25%;
    padding: 15px;
    border-radius: 10%;
    cursor: pointer;
    }
    .btn:hover:not([disabled]){
        background-color: black;
        color: white;
    }
    .btn:disabled{
        cursor: no-drop;
    }
    
    #nBtn{
        width:20%;
        cursor: pointer;
       padding: 10px;
       background-color: blue;
       margin:10px;
       margin-left: 40%;
       display: none;
    }
    .correct{
        background-color:green;
    }
    .incorrect{
        background-color:red;
    }